Repository fastereder/electron-vue3-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "*.{ts,vue}": ["eslint --fix"],
  "*.{json,js,ts,jsx,tsx,html}": ["prettier --write --ignore-unknown"],
  "*.{css,scss,vue}": "stylelint --fix"
}

add path alias
  src/App.vue
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix eslint config
  .eslintrc
Due: none

ci: build config, add commitlint
  .commitlintrc
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci: edit electron builder
  electron-builder.json
  package.json
Due: prettier --write --ignore-unknown

build: vue-router, init commit
  .stylelintrc
  package.json
  src/App.vue
  src/components/AppNavigation.vue
  src/main.ts
  src/router/index.ts
  src/views/AboutScreen.vue
  src/views/StartScreen.vue
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

build: pinia, init commit
  package.json
  src/components/HelloWorld.vue
  src/main.ts
  src/store/hello.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

ci: add playwright
  .editorconfig
  .prettierignore
  electron-builder.json
  package.json
  playwright-report/index.html
  playwright.config.js
  test/main.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown
